	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
	}
  body{
    margin: 0;
  }
  h1 {
  	font-family: 'Open Sans';
  	font-size: 49px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: bold;
  	line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    vertical-align: middle;
  }
  h2 {
    font-family: 'Open Sans';
    font-size: 26px;
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
    line-height: 49px;
    text-align: center;
    color: white;
		margin: 20px auto;
  }
  h3 {
    font-family: 'Open Sans';
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    color: white;
    margin: 20px auto;
  }
	h4 {
		font-family: 'Open Sans';
  	font-size: 20px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 300;
  	line-height: 30px;
    text-align: left;
    margin: 20px 200px 20px 200px;
    color: white;
	}
  p {
  	font-family: 'Open Sans';
  	font-size: 18px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 300;
  	line-height: 20px;
    text-align: left;
		margin: 20px 10px 20px 10px;
    color: white;
  }
	strong {
		font-weight: 600;
	}
	a {
		font-family: 'Open Sans';
		font-size: 18px;
		font-style: underline;
		font-variant: normal;
		font-weight: 300;
		line-height: 20px;
		text-align: left;
		color: white;
	}
  button {
    background-color: transparent;
    color: white;
    border: 1px solid #FFF;
    font-size: 22px;
    text-transform: lowercase;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing: 2px;
    padding: 5px 40px 5px 40px;
    display: block;
    margin: auto;
  }
  button:hover {
    background: rgba(255,255,255, 0.2);
  }
	button:focus {
		background: rgba(255,255,255, 0.2);
	}
  input{
    background-color: transparent;
    color: white;
    border: 1px solid #FFF;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 5px 40px 5px 40px;
    display: block;
    margin: 20px auto 20px auto;
    width: 60%;
  }
  section {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
  }
  .section1 {
    background-image: url(images/background1.png);
    background-size: 100%;
  }
  .section2 {
    background-image: url(images/background2.png);
    background-size: 100%;
  }
  .section3 {
    background-image: url(images/background3.png);
    background-size: 100%;
  }
  .section4 {
    background-image: url(images/background5.png);
    background-size: 100%;
  }
	.section5 {
		background-image: url(images/background4.png);
		background-size: 100%;
	}
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  .wrap3{
    display: block;
    margin: 20px 200px 20px 200px;
  }
  .float-left{
    width: 33%;
    float:left;
  }
  .float-middle{
    width: 34%;
    float:left;
  }
  .float-right{
    width: 33%;
    float: right;
  }
	.container{
		width: auto;
		margin: 50px 150px 20px 150px;
	}
	.container-header{
		clear: both;
	}
	.container-main{
		float: left;
		width: 60%;
	}
	.container-side{
		float: right;
		width: 40%;
	}
	.container-footer{
		clear: both;
	}

	.font-20{
		font-size: 20px;
	}
	.make-center{
		text-align: center;
	}
	#map {
		height: 200px;
		width: 200px;
		margin: 20px;
	}
	#loading {
		margin: 15% 30%;
		position: absolute;
		}
